<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lightseekers.maven_blog.mapper.ex.AuthorityEXMapper">
    <resultMap id="authorityEXResult" type="xyz.lightseekers.maven_blog.bean.ex.AuthorityEX">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <collection property="children" column="id" select="selectByParentId"></collection>
    </resultMap>
    <resultMap id="BaseResultMap" type="xyz.lightseekers.maven_blog.bean.Authority">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    </resultMap>
    <select id="selectChildren" resultMap="authorityEXResult">
        select * from db_blog_web.blog_authority where id = #{id}
    </select>
    <select id="selectByParentId" resultMap="authorityEXResult">
        select * from db_blog_web.blog_authority where parent_id = #{id}
    </select>

    <select id="selectAll" resultMap="authorityEXResult">
        select * from db_blog_web.blog_authority
    </select>
    <select id="selectByWord" resultMap="BaseResultMap">
        select * from db_blog_web.blog_authority where name like #{word}
    </select>

</mapper>