<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lightseekers.maven_blog.mapper.ex.LoveEXMMapper">
    <resultMap id="all" type="xyz.lightseekers.maven_blog.bean.ex.LoveEXM">
        <id column="id" property="id"></id>
        <result column="ip" property="ip"></result>
        <result column="longitude" property="longitude"></result>
        <result column="latitude" property="latitude"></result>
        <association property="user" column="user_id" select="selectUser"></association>
        <association property="blog" column="blog_id" select="selectBlog"></association>
    </resultMap>

    <resultMap id="UserBaseResultMap" type="xyz.lightseekers.maven_blog.bean.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="flag" jdbcType="INTEGER" property="flag" />
    </resultMap>

    <resultMap id="BlogBaseResultMap" type="xyz.lightseekers.maven_blog.bean.Blog">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="date" jdbcType="TIMESTAMP" property="date" />
        <result column="love" jdbcType="INTEGER" property="love" />
        <result column="visitor" jdbcType="INTEGER" property="visitor" />
        <result column="type_id" jdbcType="INTEGER" property="typeId" />
    </resultMap>
    <select id="selectAll" resultMap="all">
        select * from blog_love
    </select>

    <select id="selectUser" resultMap="UserBaseResultMap">
        select * from blog_user where id = #{id}
    </select>

    <select id="selectBlog" resultMap="BlogBaseResultMap">
        select * from blog_blog where id = #{id}
    </select>

    <select id="selectByBlog" resultType="int">
        select user_id from blog_love where blog_id = #{id}
    </select>

    <select id="selectById" resultMap="all">
        select * from blog_love where id = #{id}
    </select>

    <select id="selectAllByBlog" resultMap="all">
        select * from  blog_love where blog_id = #{id}
    </select>

</mapper>