<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lightseekers.maven_blog.mapper.ex.LoveExcelMapper">
    <resultMap id="abn" type="xyz.lightseekers.maven_blog.bean.ex.LoveExcle">
        <id column="id" property="id"></id>
        <result column="userId" property="userId"></result>
        <result column="blogId" property="blogId"></result>
        <result column="ip" property="ip"></result>
        <result column="longitude" property="longitude"></result>
        <result column="latitude" property="latitude"></result>
        <result column="flag" property="flag"></result>
        <result column="uName" property="uName"></result>
        <result column="bName" property="bName"></result>
    </resultMap>

    <select id="selectAll" resultMap="abn">
        select bl.id id , bl.user_id userId, bl.blog_id blogId, bl.ip ip, bl.longitude longitude, bl.latitude latitude,
               bl.flag flag, bu.name uName, bb.title bName
        from blog_love bl, blog_user bu, blog_blog bb
        where bl.user_id = bu.id and bl.blog_id = bb.id
    </select>

    <select id="selectLoveExcelByBlogId" resultMap="abn">
       select bl.id id , bl.user_id userId, bl.blog_id blogId, bl.ip ip, bl.longitude longitude, bl.latitude latitude,
               bl.flag flag, bu.name uName, bb.title bName
        from blog_love bl, blog_user bu, blog_blog bb
        where bl.user_id = bu.id and bl.blog_id = bb.id and bl.blog_id = #{id}
    </select>
</mapper>