<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lightseekers.maven_blog.mapper.ex.MessageEXMapper">
    <resultMap id="messageEXResult" type="xyz.lightseekers.maven_blog.bean.ex.MessageEX">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <association property="user" column="user_id" select="selectUser"></association>
    </resultMap>
    <select id="selectAll" resultMap="messageEXResult">
        select * from db_blog_web.blog_message
    </select>
    <select id="selectUser" resultType="xyz.lightseekers.maven_blog.bean.ex.UserEX">
        select id,name from db_blog_web.blog_user where id = #{user_id}
    </select>
    <select id="selectByName" resultMap="messageEXResult">
        select content from db_blog_web.blog_message where user_id in (select id from db_blog_web.blog_user where name like #{name})
    </select>

</mapper>